{% extends "layout.html" %}

{% block title %}Add Item{% endblock %}

{% block content %}

<form action="/add" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Title</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" name="title" required>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Description</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description" required></textarea>
    </div>
    <div class="mb-3">
      <label for="formFile" class="form-label">Image File</label>
      <input class="form-control" type="file" id="formFile" name="image">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}