{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="row row-cols-2 row-cols-md-6 g-4">

    {% for item in lostProperty | reverse %}

    {% if not item[6] %}

      <div class="col">
        <div class="card h-100" style="cursor:pointer" onclick="location.href='/item/{{item[0]}}'">
          <img src="/static/images/thumb_{{item[5]}}" class="card-img-top" alt="{{item[1]}}: {{item[2]}}">
          <div class="card-body">
            <p class="card-text">{{item[1]}}</p>
          </div>
        </div>
      </div>
    {% endif %}
    {% endfor %}

</div>

{% endblock %}